.about-container {
		.star-box {
            display:flex;
            flex-direction: row;
            margin-bottom:10px;
             .star {
                color: orange; 
                margin-bottom: 25px; 
                font-size: 50px;
                }
            }
    }

             
