.about-container {
		.about-box {
		    img {}
			h1 {}
		    p {}
        }
		.star-box {
            display:flex;
            flex-direction: row;
             .star {
                color: orange; 
                margin-bottom: 25px; 
                font-size: 50px;
                }
            }
    }

             
