//About Ud page styling

//box is used for the descriptions of all the sections on this page
//it is set up so that the border works for the headers to be padded below it using the same auto margin and aligning that other h1 class headers use on other internal pages.
.about-container {
    .about-box {
        text-align: left;
        display: flex;
        flex-direction: column;

        h1 {
            margin:20px auto 35px 0;
            font-size: rem(30px);
        
            @media (min-width: $phone) {
                font-size: rem(36px);
            }
        }
    }

    //this styles the star symbols
	.star-box {
        display:flex;
        flex-direction: row;
        margin-bottom:10px;

        .star {
            color: $orange; 
            margin-bottom: 25px; 
            font-size: 50px;
        }
    }
}

.aboutcomp {
    margin-bottom: 15px;
}

             
