
#reviewerForm {
    max-width: 600px;
    margin: 36px auto 50px auto;
    padding: 20px;
    border: 1px solid saddlebrown;
    border-radius: 8px;
    background-color: #f9f9f9;

    #reviewText {
        width: -webkit-fill-available;
        height: 182px;
    }
}