//contact us page styling

.page-header {
    margin:10px 0 0;
    text-align: center;

        @media (min-width: $tablet) {
            text-align: left;
        }
    }

.contact-header {
    margin:0 0 25px;
    text-align: center;

    @media (min-width: $tablet) {
        margin:0;
        width: 50%;
        text-align: left;
    }
}

.hcon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    @media (min-width: $tablet) {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
    }
}

// The below styling is used for both the about us page and the contact us page 
// img and text are placed in a content class box which sets up the layout via media queries
//img is on the right and text on the left on pc and img on bottom and text on top on phones
.img-wrap {
    @media (min-width: $small) {
        width: 50%;
    }
}

.img-wrap img {
    width: 100%;
    height: 408px;
    object-fit: cover;
    
    @media (min-width: $medium) {
        margin-bottom: 30px;
    }
}

// this styles the form colour, test, border and spacing layout to be centered
.content {
    display:flex;
    flex-direction: column;
    max-width: 600px;
    margin: 25px auto 50px auto;
    padding: 20px;
    border: 1px solid $darkbrown;
    border-radius: 8px;
    background-color: $offwhite;

    //size of box is adjusted due to margins beging different for the layout , margins adjusted for larger screen sizes
    @media (min-width: $medium) {
        max-width: 600px;
        margin: 36px auto 50px auto;
    }
}
.contact-form-wrapper {

 
}

//used field wrapper to style each row and the feilds them selves like in other forms
.contact-field-wrapper {
   
    display:flex;
    margin: 0 20px;
    align-items: normal;
    justify-content: normal;
    flex-flow: row wrap;

    //field element styling for the form layout to flow nicely
    label {
        margin-right:4px;
        display:block; 
        margin-top:8px;
        text-align: left;
    }

    .formName {
        margin-top:8px;
        width: 100%;
    }

     input { 
        margin-top:8px; 
        width: 100%;
        border-radius: 5px;
        height: 39px;
        border: inset;
        background-color: $white;
    }
    
	textarea { 
        margin-top:8px; 
        border: inset;
        border-radius: 5px;
        background-color: $white;
        width: 100%;
        margin-bottom: 10px;
    }

    //Inline styles for form error messages on booking and testimonials forms
    .error { 
        display: block; 
        color: $brightred; 
        font-size: 0.9em; 
        height: 1.1em; 
        flex-basis: 100%; 
        width:100%; 
        margin-bottom: 0; 
        text-align: center;
    }
}

//contact button styling done similar to other forms just adjusted for this forms layuout
//button being red background and white text
.button-send-box {
    display:flex;
    flex-direction: row;
    justify-content: center;
    

    .contact-button {
        display: inline-block;
        
        background-color: $red;
        color: $offwhite;
        border-radius: 3px;
        padding: 10px 15px;
        text-transform: uppercase;
        font-size: 16px;
        
    }

    // sets the button to be a darker red colour on hover
    .contact-button:hover {
        background-color: $darkred;
    }
}
