.img-wrap img {
    width: -webkit-fill-available;
    }   
#subject {
    margin-left: 22px;
    margin-top: 5px;
}
#message {
    margin-left: 14px;
    margin-top: 5px;
    width: 90%;
}
.form-wrapper {
    max-width: 600px;
    margin: 36px auto 50px auto;
    padding: 20px;
    border: 1px solid $darkbrown;
    border-radius: 8px;
    background-color: #f9f9f9;
}
@media (min-width: $medium) {

    .form-wrapper {
        margin: 36px auto 129px auto;
        }
    #emailForm {
        width: 500px;
        }
    .content {
        display: flex;
        gap: 10px;
        }
}
@media (min-width: $phone) {
    #emailForm {
        width: 250px;
        }
    }
@media (min-width: $small) {
    #emailForm {
        width: 300px;
        }
    }