#emailForm {
    display: grid;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
}
#message {
    padding-bottom: 25px;
    margin-bottom: 12px;
}
.content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 30px;
}
@media (max-width: 992px) {
    .content {
        flex-direction: column;
        }
    #emailForm {
        width: 500px;
        }
}