//contact us page styling

.contact-header {
    margin:0;
}
.hcon{
    display: flex;
    flex-direction: column;
    @media (min-width: $tablet) {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}
h3{
    width: 60%;
}
// img and contact form are placed in a content class box which sets up the layout via media queries
//img is on the left and form on the right on pc and img on top and form on bottom on phones
.img-wrap img {
    width: 100%;
    height: 408px;

    @media (min-width: $medium) {
        margin-bottom: 30px;
    }
}

// this styles the form colour, test, border and spacing layout to be centered
.contact-form-wrapper {
    display:flex;
    flex-direction: column;
    max-width: 335px;
    margin: 25px auto 30px auto;
    padding: 20px;
    border: 1px solid $darkbrown;
    border-radius: 8px;
    background-color: $offwhite;

    //size of box is adjusted due to margins beging different for the layout , margins adjusted for larger screen sizes
    @media (min-width: $medium) {
        max-width: 600px;
        margin: 36px auto 115px auto;
    }
}

//used field wrapper to style each row and the feilds them selves like in other forms
.contact-field-wrapper {
    width: 90%;

    //field element styling for the form layout to flow nicely
    .formName {
        margin-top:8px;
        margin-left: 13px;
        width: 100%;
    }

    #subject {
        margin-left: 13px;
    }

    label {
        margin-right:4px;
        display:block; 
        margin-left:12px;
    }
	
    input { 
        width: 100%;
        border: inset;
        border-radius: 5px;
    }
    
	textarea { 
        margin-top:8px;
        margin-left: 14px;
        width: 100%;
        border: inset;
        border-radius: 5px;
    }

     // Error message styling: red text, small font, takes up space when visible
    .error { 
        color: $brightred; 
        font-size: 0.9em; 
        display: block; 
        height: 1.1em; 
    }
}

//contact button styling done similar to other forms just adjusted for this forms layuout
//button being red background and white text
.button-send-box {
    display:flex;
    flex-direction: row;
    justify-content: center;

    .contact-button {
        display: inline-block;
        margin-top: 12px;
        background-color: $red;
        color: $offwhite;
        border-radius: 5px;
        padding: 3px 8px;
    }

    // sets the button to be a darker red colour on hover
    .contact-button:hover {
        background-color: $darkred;
    }
}

// media queries written by dennis for the entire page to make sure the presentation works on smaller screen sizes and larger ones
//these adjust the contact form to be either in column or row with the img
//width is also adjusted for ifferent sscreen sizes so it works with the margins and the layouts
@media (min-width: $medium) {

    #contactForm {
        width: 500px;
    }

    .content {
        display: flex;
        gap: 20px;
    }
}

@media (min-width: $phone) {
    #contactForm {
        width: 300px;
    }
}

@media (min-width: $small) {
    #contactForm {
        width: 300px;
    }
}