//contact us page styling
.img-wrap img {
    width: 100%;
}

.contact-header {
    margin:0;
}

.form-wrapper {
    display:flex;
    flex-direction: column;
    max-width: 335px;
    margin: 25px auto 30px auto;
    padding: 20px;
    border: 1px solid $darkbrown;
    border-radius: 8px;
    background-color: #f9f9f9;

    @media (min-width: $medium) {
        max-width: 600px;
        margin: 36px auto 50px auto;
    }
}

.email-form-wrapper {
    display: flex;
    justify-content: left;
    flex-flow: row wrap;
    width: 100%;

    @media (min-width: $medium) {
        justify-content: left;
    }

    .formName {
        margin-top:8px;
    }

    #subject {
        margin-left: 22px;
    }

    label {
        margin-right:4px;
        display:block; 
        margin-top:15px;
    }
	
    input { 
        margin-top:15px; 
    }
    
	textarea { 
        margin-top:8px;
        margin-left: 14px;
        width: 90%;
    }
}

.button-send-box {
    display:flex;
    flex-direction: row;
    justify-content: center;

    .contact-button {
        display: inline-block;
        margin-top: 12px;
        background-color: #AF473C;
        color: #f9f9f9;
        border-radius: 5px;
        padding: 3px 8px;
    }
}

@media (min-width: $medium) {

    .form-wrapper {
        margin: 36px auto 129px auto;
        }
    #emailForm {
        width: 500px;
        }
    .content {
        display: flex;
        gap: 20px;
        }
}

@media (min-width: $phone) {
    #emailForm {
        width: 300px;
        }
}

@media (min-width: $small) {
    #emailForm {
        width: 300px;
        }
}