//All the internal pages and other Sections

//services on home page and services page
@import 'services';

//about us page
@import 'aboutus';

//contact us page
@import 'contactus';

//partners sliding imgs for homepage
@import 'partners';

//main content section of the homepage
@import 'maincontent';

//both booking and testimonials pages
@import 'testimonials-booking';