//All the Middle Sections
@import 'services';

//Services Pannels

@import 'aboutus';

@import 'contactus';

@import 'partners';

@import 'form';

@import 'maincontent';

@import 'testimonials-booking';