//All the Middle Sections
@import 'services';

//Services Pannels
@import 'panels';

@import 'aboutus';

@import 'contactus';

@import 'partners';

@import 'bookingform';

@import 'maincontent';

@import 'testimonials';