
.main-content {
    
	h1 {
        display: inline-block;
        color: $darkbrown;
        padding-bottom: 25px;
        margin-bottom: 25px;
        border-bottom: 2px solid;
        border-image: linear-gradient(to right, $darkbrown 30%, transparent 0%) 100% 1;

    }
	p  {
        b {color: $darkbrown;}

    }

}