// Main content styling
.main-content {
    margin-top: 10px;
    text-align: center;

    @media (min-width: $small) {
        text-align: left;
    }

    h2 {
        display: inline-block;
        color: $darkbrown;
        margin: 25px 0;
        padding-bottom: 25px;
        border-bottom: 2px solid $darkbrown;
        text-transform: uppercase;
        text-align: center;

        @media (min-width: $small) {
            text-align: left;
        }
    }

	p  {
        margin-top: 15px;
        margin-bottom: 20px;
        b {color: $darkbrown;}
        text-align: left;
    }
}