// Panel sytling and hovers for services section (seperate partial to save space in services partial)

//panel naming convention is the same as the navigation bar 
//CD = Consultancy & Development ITS = IT Support DM = digital marketing
 //TS = telecom services WD = web design CS = cyber sercurity DC = developer course

 //used three different mixins for idenfication means even know they do the same thing panel mixin is just for background color
 //iconcolor for icons, panelcolor for entire panel and buttoncolor for buttons

//panel normal state colors
 .panel-CD {
    .icon1 { //icon colouring for background
        @include iconcolor ($sky, $white);
    }

    .button-CD { //adjusts the color of each button
        @include buttoncolor ($orange, $white);
    }
}

//panel hover colors
.panel-CD:hover {
   @include panelcolor ($sky); //entire panel background color is changed when hovered

    .icon1 { //colours are reversed when hovered (icon color matches entire panel and background becomes white)
    @include iconcolor ($white, $sky);
    }

    .button-CD { //colours are reversed when hovered (text of button matches entire panel and background becomes white)
        @include buttoncolor($white, $sky);
    }
}

.panel-IT {
    .icon1 {
        @include iconcolor ($blue, $white);
    }

    .button-IT {
        @include buttoncolor($blue, $white);
    }
}

.panel-IT:hover {
   @include panelcolor ($blue);

    .icon1 {
        @include iconcolor ($white, $blue);
    }

    .button-IT {
        @include buttoncolor($white, $blue);
    }
}

.panel-DM {
    .icon1 {
        @include iconcolor ($lime, $white);
    }
    
    .button-DM {
        @include buttoncolor($lime, $white);
    }
}

.panel-DM:hover {
   @include panelcolor ($lime);

    .icon1 {
        @include iconcolor ($white, $lime);
    }
    
    .button-DM {
        @include buttoncolor($white, $lime);
    }
}

.panel-TS {  
    .icon1 {
        @include iconcolor ($red, $white);
    }

    .button-TS {
        @include buttoncolor($red, $white);
    }
}

.panel-TS:hover {
    @include panelcolor ($red);

    .icon1 {
       @include iconcolor ($white, $red);
    }
     .button-TS {
        @include buttoncolor($white, $red);
    }
}

.panel-WD {
    .icon1 {
        @include iconcolor ($violet, $white);
    }

    .button-WD {
        @include buttoncolor($violet, $white);
    }
}

.panel-WD:hover {
    @include panelcolor ($violet);

    .icon1 {
        @include iconcolor ($white, $violet);
    }

    .button-WD {
        @include buttoncolor($white, $violet);
    }
}

.panel-CS {  
    .icon1 {
        @include iconcolor ($rose, $white);
    }
    
    .button-CS {
        @include buttoncolor($rose, $white);
    }
}

.panel-CS:hover {
   @include panelcolor ($rose);

    .icon1 {
        @include iconcolor ($white, $rose);
    }
    
    .button-CS {
        @include buttoncolor($white, $rose);
    }
}

.panel-DT {
    .icon1 {
        @include iconcolor ($bloodorange, $white);
    }

    .button-DT {
        @include buttoncolor($bloodorange, $white);
    }
}

.panel-DT:hover {
    @include panelcolor ($bloodorange);

    .icon1 {
        @include iconcolor ($white, $bloodorange);      
    }

    .button-DT {
       @include buttoncolor($white, $bloodorange);
    }
}




