.partners {
			h2 {}
    .partner-wrap {
				.partner-box {
					.partner-img {
						img {}
                    }
                }
            }
}

body {
    padding: 0px;
}

.partner-box {
    position: absolute;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.partner-img {
    position: absolute;
    width: 50%;
    height: 300px;
    line-height: 300px;
    font-size: 50px;
    text-align: center;
    border: 2px solid black;
    left: 150%;
    top: 100px;
    margin-left: -25%;
}

.partner1 {
    background-color: green;
    left: 50%;
}

.partner2 {
    background-color: yellow;
}

.partner3 {
    background-color: red;
}

.partner4 {
    background-color: orange;
}

.partner5 {
    background-color: blue;
}