//paretners styling on home page
.partners {
	h2 {
        display: inline-block;
        color: $darkbrown;
        margin: 20px 0 50px;
        padding-bottom: 25px;
        border-bottom: 2px solid $darkbrown;
        text-transform: uppercase;
        text-align: center;

        @media (min-width: $small) {
            text-align: left;
        }
    }

    .partner-wrap {
    //set to overflow so the partners can slide across the page
        .partner-box {
            margin: 0px;
            padding: 0px;
            overflow-x: clip;
            display:flex;
            flex-direction: row;
            width: 100%;
            margin-bottom: 70px;
            min-height:150px;

            .partner-img {
                display: flex;
                width: 100%;
                height: 500px;
                text-align: center;
                margin-right: 0;
                position: relative;
                padding: 0 5px;
                max-height:150px;

                //chnages spacing of imgs based on screen size
                @media (min-width: $small) {
                    margin-right: 50px;
                    padding: 0 20px;
                }
                
                //hover over to see coloured version of img non hover is grayscale
                img {
                    max-width:200px;
                    filter: grayscale(1);
                    height: 150px;
                }

                img:hover, img:active { 
                    filter: grayscale(0);
                }
            }
        }
    }
}