.partners {
			h2 {}
    .partner-wrap {
				.partner-box {
					.partner-img {
						img {}
                    }
                }
            }
}

body {
    padding: 0px;
}

.partner-box {
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    display:flex;
    flex-direction: row;

}

.partner-img {
    width: 50%;
    height: 500px;
    text-align: center;
    

}