//services section styling

//homepage section
.service {
    display:flex;
    flex-direction: column;

    //title is centered on small screen sizes and on the left on larger ones
    .service-header {
        display:flex;
        justify-content: center;

        @media (min-width: $small) {
            justify-content: left;
        }

        h2 {
            display: inline-block;
            color: $darkbrown;
            margin: 25px 0;
            padding-bottom: 25px;
            border-bottom: 2px solid $darkbrown;
            text-transform: uppercase;
            text-align: center;

            @media (min-width: $small) {
                text-align: left;
            }
        }
    }

    // services box is set to a row on pc and column on phone 
    .service-wrap {
        display:flex;
        flex-direction: column;
        margin: 25px -10px 40px;
        justify-content: center;
       
        //gaps are added to make container and img spacing even
        @media (min-width: $small) {
            flex-direction: row;
            margin-bottom: 75px;
            justify-content: normal;
        }

        /// width of service box adjusted for different screen sizes to keep the imgs from looking squished when relvant
        .service-box {
            display:flex;
            flex-direction: column;
            width: 80%;
            text-align: center;
            margin-bottom:20px;
            margin-left:auto;
            margin-right:auto;
            border: 2px solid rgba(0,0,0,.125);
            border-radius: 3px;

            @media (min-width: $small) {
                margin-bottom: 0px; 
                margin-left:10px;
                margin-right:10px;
                width:33%;         
            }

	        img {
                margin-bottom: 20px;
                object-fit: cover;
                border-radius: 3px;
                max-height: 177px;
            }

            //auto margins used to make sure border is same size as the title
	        h3 {
                display:inline-block;
                padding: 20px 0;
                margin: 0 auto 10px;
                color: $darkbrown;
                border-bottom: 2px solid $darkbrown;
            }

            p {
                padding: 0 15px;
                // min height styling used to keep the service boxes be the same size and layout
                //this uses base styling for the paragraph
                @media (min-width: $small) {
                    min-height: 216px;
                }
            
                @media (min-width: $medium) {
                    min-height: 144px;
                }
            }
        }
    }
}

// services wbpage stlying

//styling for content boxes of this page
.corp-box, .wedding-box, .event-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    text-align: center;

    @media (min-width: $small) {
        text-align: left;
    }

    //font size updaters to fit the title length on smaller screen sizes
    h2 {
       margin-right: auto;
       margin-left:auto;
       
        @media (min-width: $small) {
            margin-right: auto;
            margin-left:0;
        }
    }

    p {
        text-align: left;
    }
}

// media queries written by dennis for the entire page to make sure the presentation works on smaller screen sizes and larger ones
@media (min-width: $small) {
    .picbox {
        flex-direction: row;

        .wed1 {
            width: 50%;
        }

        .wed2 {
            display: block;
            width: 50%;
        }
    }
}

//adjusts the wedding imgs for different screen sizes
@media (min-width: $medium) {
    .picbox {
        .wed1 {
            width: 32%;
            margin-right: 10px;
        }

        .wed2 {
            display: block;
            width: 32%;
            margin-right: 10px;
        }

        //adjusts the img size as it is a different size from the other imgs to fit the screen size 
        .wed3 {
            display: block;
            max-width: 300.8px;
            min-height: 200.53px;
        }
    }
}

//adjusts the img size as it is a different size from the other imgs to fit the screen size 
@media (min-width: $large) {
    .picbox {
        .wed3 {
            max-width: 374.39px;
            min-height: 249.59px;
        }
    }
}