//services section styling

.service {

.service-wrap {
    display:flex;
    flex-direction: row;

    .service-box {
        display:flex;
        flex-direction: column;

	    img {

        }

	    h2 {

        }

        p {

        }
    }
}
}