//services section styling

//homepage section
.service {
    display:flex;
    flex-direction: column;
    .service-header {

        h1 {
            display: inline-block;
            color: $darkbrown;
            padding-bottom: 25px;
            margin-bottom: 25px;
            border-bottom: 2px solid $darkbrown;
            text-transform: uppercase;
         }
    }
.service-wrap {
    margin-top: 60px;
    display:flex;
    flex-direction: row;
    gap: 25px;
    margin: 35px 0 0;

    .service-box {
        display:flex;
        flex-direction: column;
        width: 33%;
        text-align: center;
        margin-bottom: 75px;

	    img {
            height:200px;
            margin-bottom: 20px;

        }

	    h2 {
            display:inline-block;
            padding-bottom: 20px;
            margin-right: auto;
            margin-left: auto;
            margin-bottom: 20px;
            color: $darkbrown;
            border-bottom: 2px solid $darkbrown;

        }
       
        p { 

        }
    }
}
}