//services section styling
div {
    display:flex;
    flex-direction: row;

    div {
        display:flex;
        flex-direction: column;

	    img {

        }

	    h2 {

        }

        p {

        }
}
}