//services section styling

//homepage section
.service {
    display:flex;
    flex-direction: column;
    
    .service-header {
        display:flex;
        justify-content: center;

        @media (min-width: $small) {
            justify-content: left;
        }

        h1 {
            display: inline-block;
            color: $darkbrown;
            margin-top: 25px;
            padding-bottom: 25px;
            margin-bottom: 25px;
            border-left:0;
            border-right:0;
            border-top:0;
            border-bottom: 2px solid $darkbrown;
            text-transform: uppercase;
            text-align: center;

            @media (min-width: $small) {
                text-align: left;
            }
         }
    }

    .service-wrap {
        margin-top: 60px;
        display:flex;
        flex-direction: column;
        margin: 35px 0 0;
        justify-content: center;

        @media (min-width: $small) {
            flex-direction: row;
            gap: 15px;
        }

        @media (min-width: 800px) {
            gap: 25px;
        }

        .service-box {
            display:flex;
            flex-direction: column;
            margin: 0 auto;
            width: 75%;
            text-align: center;
            margin-bottom: 25px;

            @media (min-width: $phone) {
                width: 60%;
            }

            @media (min-width: $tablet) {
                width: 50%;
            }

            @media (min-width: $small) {
                justify-content: center;
                margin-bottom: 75px; 
                width:33%;         
            }

            @media (min-width: $medium) {
                width:35%;         
            }

	        img {
                height:200px;
                margin-bottom: 20px;
            }

	        h2 {
                display:inline-block;
                padding: 20px 0;
                margin-right: auto;
                margin-left: auto;
                margin-bottom: 20px;
                margin-top: 0px;
                color: $darkbrown;
                border-bottom: 2px solid $darkbrown;
            }

            p {
                
                @media (min-width: $small) {
                    min-height: 216px;
                }
            
                @media (min-width: $medium) {
                    min-height: 144px;
                }
            }
        }
    }
}

// services wbpage stlying

.corp-box, .wedding-box, .event-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    text-align: center;

    @media (min-width: $phone) {
        text-align: left;
    }

    h1 {
        font-size: rem(30px);
        margin-right: auto;
        margin-left: auto;
        
        @media (min-width: $phone) {
            font-size: rem(36px);
            margin:20px auto 35px 0;
        }
    }

    p {
        text-align: left;
    }
}

.picbox {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

    .wed1 {
        height: fit-content;
        margin-right: 10px;
    }

    .wed2, .wed3 {
        display: none;
        height: fit-content;
    }
}

.corp-box{
    .corp-row{
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-bottom: 10px;
    }
}

//contact us page styling

.contact-header {
    margin:0;
}

.img-wrap img {
    width: 100%;
    height: 408px;

    @media (min-width: $medium) {
        margin-bottom: 30px;
    }
}

.contact-form-wrapper {
    display:flex;
    flex-direction: column;
    max-width: 335px;
    margin: 25px auto 30px auto;
    padding: 20px;
    border: 1px solid $darkbrown;
    border-radius: 8px;
    background-color: $offwhite;

    @media (min-width: $medium) {
        max-width: 600px;
        margin: 36px auto 115px auto;
    }
}

.contact-field-wrapper {
    display: flex;
    justify-content: left;
    flex-flow: row wrap;
    width: 100%;

    @media (min-width: $medium) {
        justify-content: left;
    }

    .formName {
        margin-top:8px;
    }

    #subject {
        margin-left: 22px;
    }

    label {
        margin-right:4px;
        display:block; 
        margin-top:15px;
    }
	
    input { 
        margin-top:15px; 
    }
    
	textarea { 
        margin-top:8px;
        margin-left: 14px;
        width: 90%;
    }
}

.button-send-box {
    display:flex;
    flex-direction: row;
    justify-content: center;

    .contact-button {
        display: inline-block;
        margin-top: 12px;
        background-color: $red;
        color: $offwhite;
        border-radius: 5px;
        padding: 3px 8px;
    }
}

// media queries written by dennis for the entire page to make sure the presentation works on smaller screen sizes and larger ones
@media (min-width: $small) {
    .picbox {
        flex-direction: row;
    }

    .wed1 {
        width: 50%;
    }

    .wed2 {
        display: block;
        width: 50%;
    }
}

@media (min-width: $medium) {
    .picbox {
        .wed1 {
            width: 32%;
            margin-right: 10px;
        }

        .wed2 {
            width: 32%;
            margin-right: 10px;
        }

        .wed3 {
            display: block;
            max-width: 300.8px;
            min-height: 200.53px;
        }
    }
}

@media (min-width: $large) {
    .picbox {
        .wed3 {
            max-width: 374.39px;
            min-height: 249.59px;
        }
    }
}