//services section styling

//homepage section
.service {
    display:flex;
    flex-direction: column;

    //title is centered on small screen sizes and on the left on larger ones
    .service-header {
        display:flex;
        justify-content: center;

        @media (min-width: $small) {
            justify-content: left;
        }

        h2 {
            display: inline-block;
            color: $darkbrown;
            margin: 25px 0 25px;
            padding-bottom: 25px;
            border-bottom: 2px solid $darkbrown;
            text-transform: uppercase;
            text-align: center;

            @media (min-width: $small) {
                text-align: left;
            }
        }
    }

    // services box is set to a row on pc and column on phone 
    .service-wrap {
        margin-top: 50px;
        display:flex;
        flex-direction: column;
        margin: 35px 0 0;
        justify-content: center;

        //gaps are added to make container and img spacing even
        @media (min-width: $small) {
            flex-direction: row;
            gap: 15px;
        }

        /// width of service box adjusted for different screen sizes to keep the imgs from looking squished when relvant
        .service-box {
            display:flex;
            flex-direction: column;
            width: 80%;
            text-align: center;
            margin-bottom: 25px;
            margin-left:auto;
            margin-right:auto;

            @media (min-width: $small) {
                margin-bottom: 75px; 
                margin-left:0;
                margin-right:0;
                width:32%;         
            }

            @media (min-width: $medium) {
                width:32.333333%;         
            }

            @media (min-width: $large) {
                width:32.5%;         
            }

	        img {
                margin-bottom: 20px;
                object-fit: cover;
            }

            //auto margins used to make sure border is same size as the title
	        h3 {
                display:inline-block;
                padding: 20px 0;
                margin: 0 auto 20px;
                color: $darkbrown;
                border-bottom: 2px solid $darkbrown;
            }

            p {
                // min height styling used to keep the service boxes be the same size and layout
                //this uses base styling for the paragraph
                @media (min-width: $small) {
                    min-height: 216px;
                }
            
                @media (min-width: $medium) {
                    min-height: 144px;
                }
            }
        }
    }
}

// services wbpage stlying

//styling for content boxes of this page
.corp-box, .wedding-box, .event-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    text-align: center;

    @media (min-width: $phone) {
        text-align: left;
    }

    //font size updaters to fit the title length on smaller screen sizes
    h2 {
        font-size: rem(30px);
        margin-right: auto;
        margin-left: auto;
        
        @media (min-width: $phone) {
            font-size: rem(36px);
            margin:20px auto 35px 0;
        }
    }

    p {
        text-align: left;
    }
}

//boxes for the imgs of weddings
.picbox {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

    .wed1 {
        height: fit-content;
        margin-right: 10px;
    }

    //wedding images 2 and 3 will appear on larger screen sizes
    .wed2, .wed3 {
        display: none;
        height: fit-content;
    }
}

.corp-box{
    .corp-row {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-bottom: 10px;
    }
}

// media queries written by dennis for the entire page to make sure the presentation works on smaller screen sizes and larger ones
@media (min-width: $small) {
    .picbox {
        flex-direction: row;

        .wed1 {
            width: 50%;
        }

        .wed2 {
            display: block;
            width: 50%;
        }
    }
}

//adjusts the wedding imgs for different screen sizes
@media (min-width: $medium) {
    .picbox {
        .wed1 {
            width: 32%;
            margin-right: 10px;
        }

        .wed2 {
            display: block;
            width: 32%;
            margin-right: 10px;
        }

        //adjusts the img size as it is a different size from the other imgs to fit the screen size 
        .wed3 {
            display: block;
            max-width: 300.8px;
            min-height: 200.53px;
        }
    }
}

//adjusts the img size as it is a different size from the other imgs to fit the screen size 
@media (min-width: $large) {
    .picbox {
        .wed3 {
            max-width: 374.39px;
            min-height: 249.59px;
        }
    }
}