//services section styling

//homepage section
.service {
    display:flex;
    flex-direction: column;
    
    .service-header {
        display:flex;
        justify-content: center;

        @media (min-width: $small) {
            justify-content: left;
        }

        h1 {
            display: inline-block;
            color: $darkbrown;
            padding-bottom: 25px;
            margin-bottom: 25px;
            border-left:0;
            border-right:0;
            border-top:0;
            border-bottom: 2px solid $darkbrown;
            text-transform: uppercase;
            text-align: center;

            @media (min-width: $small) {
                text-align: left;
            }
         }
    }

    .service-wrap {
        margin-top: 60px;
        display:flex;
        flex-direction: column;
        gap: 25px;
        margin: 35px 0 0;
        justify-content: center;

        @media (min-width: $small) {
            flex-direction: row;
        }

        .service-box {
            display:flex;
            flex-direction: column;
            margin: 0 auto;
            width: 75%;
            text-align: center;
            margin-bottom: 25px;

            @media (min-width: $phone) {
                    width: 60%;
            }

            @media (min-width: $tablet) {
                    width: 50%;
            }

            @media (min-width: $small) {
                justify-content: center;
                margin-bottom: 75px; 
                width:33%;         
            }

	        img {
                height:200px;
                margin-bottom: 20px;
            }

	        h2 {
                display:inline-block;
                padding-bottom: 20px;
                margin-right: auto;
                margin-left: auto;
                margin-bottom: 20px;
                color: $darkbrown;
                border-bottom: 2px solid $darkbrown;
            }
        }
    }
}
.picbox {
    display: flex;

    .wed1 {
        width: 30%;
        height: fit-content;
        margin-right: 10px;
    }

    .wed2 {
        width: 35.5%;
        height: fit-content;
    }
}