//services section styling

//homepage section
.service {
    display:flex;
    flex-direction: column;
    
    .service-header {
        display:flex;
        justify-content: center;

        @media (min-width: $small) {
            justify-content: left;
        }

        h1 {
            display: inline-block;
            color: $darkbrown;
            margin-top: 25px;
            padding-bottom: 25px;
            margin-bottom: 25px;
            border-left:0;
            border-right:0;
            border-top:0;
            border-bottom: 2px solid $darkbrown;
            text-transform: uppercase;
            text-align: center;

            @media (min-width: $small) {
                text-align: left;
            }
         }
    }

    .service-wrap {
        margin-top: 60px;
        display:flex;
        flex-direction: column;
        gap: 25px;
        margin: 35px 0 0;
        justify-content: center;

        @media (min-width: $small) {
            flex-direction: row;
        }

        .service-box {
            display:flex;
            flex-direction: column;
            margin: 0 auto;
            width: 75%;
            text-align: center;
            margin-bottom: 25px;

            @media (min-width: $phone) {
                width: 60%;
            }

            @media (min-width: $tablet) {
                width: 50%;
            }

            @media (min-width: $small) {
                justify-content: center;
                margin-bottom: 75px; 
                width:33%;         
            }

	        img {
                height:200px;
                margin-bottom: 20px;
            }

	        h2 {
                display:inline-block;
                padding-top: 20px;
                margin-right: auto;
                margin-left: auto;
                margin-bottom: 20px;
                margin-top: 0px;
                color: $darkbrown;
                border-bottom: 2px solid $darkbrown;
            }

            p {
                min-height: 144px;
            }
        }
    }
}

// services wbpage stlying
.our-services {
    
    h2 {
        display: inline-block;
        margin-top: 25px;
        color: $darkbrown;
        padding-bottom: 25px;
        margin-bottom: 35px;
        border-bottom: 2px solid $darkbrown;
        text-transform: uppercase;
    }

    .h2 {
        border-bottom: 2px solid;
        border-image: linear-gradient(to right, $darkbrown 20%, transparent 0%) 100% 1;
    }
}

.corp-box, .wedding-box, .event-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.picbox {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

    .wed1 {

        height: fit-content;
        margin-right: 10px;
    }

    .wed2, .wed3 {
        display: none;
        height: fit-content;
    }
}

.corp-box{
    
    .corp-row{
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-bottom: 10px;
    }
}

@media (min-width: $small) {
    .picbox {
        flex-direction: row;
    
    .wed1 {
        width: 50%;
    }
    .wed2 {
        display: block;
        width: 50%;
        }
    }
}
@media (min-width: $medium) {
    .picbox {
        .wed1 {
            width: 32%;
            margin-right: 10px;
        }
        .wed2 {
            width: 32%;
            margin-right: 10px;
        }

        .wed3 {
            display: block;
            max-width: 300.8px;
            min-height: 200.53px;
        }
    }
}