//Sliding imgs styling which is used for both the clients and partners sections of the website

.sliding-imgs
{
	.sliding-list
    {
        display: flex;
        flex-direction: row;
        width: 100%;
        position: relative;
        align-items: center;
        justify-content: center;

        //I used clip rather than hidden as hidden was causing issues with displaying the tooltips
        overflow-x: clip;

		.sliding-img-box {
            width: auto;
            margin-right: 50px;
            position: relative;
            padding: 0 20px;
            height:70px;
            max-height:70px;

            //tool tip styling 
            //this postioning set up places it just above the logo.
            //Had to use wrapper in order for you to be able to stay hovering on the tooltip otherwise it vanish as you move up
            .logo-tooltip {
                display:none;
                position: absolute;
                bottom: 100%;
                left:-200px;
                right: -200px;

                .logo-description {
                    background-color: $darkgrey;
                    color: $white;
                    padding:20px;
                    font-size: rem(14px);
                    max-width:280px;
                    margin:0 auto 50px;
                    text-align: center;
                
                    h3 {
                        padding-bottom:17px;
                        margin:0;
                    }
                    
                    //tooltip button styling
                    a {
                        margin-top: 11px;
                        font-size: rem(15px);
                        line-height: rem(35px);
                        text-transform: uppercase;
                        border-radius: 3px;
                        height: auto;
                        padding: 10px 15px;

                        em {
                            margin-left: 12px;
                        }
                    }

                    //since there were  4 different colors for buttons I added sperate classes here for them 
                    //P=purple B=blue O=orange and G=green
                    .logo-buttonP {
                        @include buttoncolor($violet, $white); 
                    }

                    .logo-buttonB {
                        @include buttoncolor($blue, $white); 
                    }

                    .logo-buttonO {
                        @include buttoncolor($orange, $white); 
                    }

                    .logo-buttonG {
                        @include buttoncolor($lime, $white);                     
                    }

                    //Hover colours for buttons
                    .logo-buttonP:hover {
                        @include buttoncolor($hover-purple, $white); 
                    }

                    .logo-buttonB:hover {
                        @include buttoncolor($hover-blue, $white); 
                    }

                    .logo-buttonO:hover {
                        @include buttoncolor($hover-orange, $white); 
                    }

                    .logo-buttonG:hover {
                        @include buttoncolor($hover-green, $white); 
                    }

                    //styling for the arrow shape that places it below the toltip box
                    .arrow {
                        position:absolute;
                        bottom: 10px;
                        left: 50%;
                        margin-left: -35px;
                    }

                    //I used an ::after to define the arrow
                    .arrow::after {
                        content: "";
                        display:inline-block;
                        border-color: $darkgrey transparent transparent;
                        border-style:solid;
                        border-width:35px 36px 0;
                    }
                }
            }
            
            //Grayscale is used to chnage the saturation of the logo images when hovered
            //They are set to greyscale by default and then become coloured when hovered
			img {
                max-width:200px;
                filter: grayscale(1)
            }

            img:hover {
                filter: grayscale(0);
            }
        }

        //The tooltip only appears when hovered over
        .sliding-img-box:hover {
            .logo-tooltip {
                display:block;
                
            }
        }
    }
}

