.review-wrap {
    text-align: center;
    color: #7B4E4B;
    padding-bottom: 25px;
    margin-bottom: 25px;
}
.review {
    text-align: center;
    justify-content: center;
    
}
.review-box1, .review-box2, .review-box3 {
    margin-bottom: 20px;
}

// what div is this header for??
.h1 {
    display: inline-block;
    color: #7B4E4B;
    padding-bottom: 25px;
    margin-bottom: 25px;
    border-bottom: 2px solid #7B4E4B;
}
.form-wrap {
    max-width: 600px;
    margin: 0 auto 50px auto;
    padding: 20px;
    border: 1px solid #7B4E4B;
    border-radius: 8px;
    background-color: #f9f9f9;
}
.rev {
    margin: -5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;

    label {
        margin-right:4px;
    }

    .revtext {
        margin-right: 8px;
    }
}
.rev2 {
    display: flex;
    align-items: center;
}

.revbutton {
    display: inline-block;
    margin-top: 12px;
    background-color: #AF473C;
    color: #f9f9f9;
    border-radius: 5px;
}
