//testimonials and booking page stylings

// testimonials page styling for form and banners

//Reveiw banner styling
.review-wrap {
    text-align: center;
    min-width: 0;
    min-height: 0;

    .h2 {
        font-size: rem(28px);
    
        @media (min-width: $phone) {
            font-size: rem(36px);
        }
    }
}

//Review box setting the image to be centerized rather than taking up the entire screen
//button it does fill the container
//the arrow and dot buttons are styled by slick
.review {
    display:flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height:400px;
    width: 100%;
    min-height: 0;
    min-width: 0;
    color: $white;

    h3 {
        margin-top: 20px;
        font-size: rem(36px);
        line-height: rem(44px);
        text-align: center;
        padding:0 10px;
    }
        
    //chnage font size based on screen size to have it be readible and present over the img size
    p {
        margin: 20px 0;
        font-size: rem(28px);
        line-height: rem(42px);
        text-align: center;
        padding:0 10px;
    }
}

.review-box1, .review-box2, .review-box3 {
    margin-bottom: 20px;
}

//booking form and testimonial form styling
//both forms use the same layout and styling just different relevant naming conventions

//form wrapper gives background and border as well as sets the layout of the box
.form-wrap {
    max-width: 600px;
    margin: 36px auto 30px auto;
    padding: 20px;
    border: 1px solid $darkbrown;
    border-radius: 8px;
    background-color: $offwhite;
}

// forms are set to be centered 
.book-wrap {
    text-align: center;
}

//ads a margin spacing to the form
.form-content {
    margin-top:12px;
}

//below is the styling for the row wrappers for the form as well as the contents of said wrapper fields
//flex flow is used to make the error mesege appear on a new line 
.rev, .book {
    margin: -5px;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;

    //these set up margins for the fields
    label {
        margin-right:4px;
        display:block; 
        margin-top:8px;
    }
    .firstName {
        margin-left: -183px;
        }
    .lastName {
        margin-left: -183px;
        }
    .reviewDate{
        margin-left: -156px;
        }
    .revtext{
        margin-left: -178px;
    }
    .eventText{
        margin-left: -184px;
    }
    .booktext{
        margin-left: -133px;
    }

    @media (min-width: $tablet) {
        .firstName {
            margin-left: -420px;
        }
        .lastName {
            margin-left: -420px;
        }
        .reviewDate{
            margin-left: -389px;
        }
        .revtext{
            margin-left: -403px;
        }
        .eventText{
            margin-left: -415px;
        }
        .booktext{
            margin-left: -361px;
        }
    }

    .revtext, .booktext {
        margin-right: 8px;
    }
	
    input { 
        margin-top:8px; 
        width: 90%;
        border-radius: 5px;
        height: 39px;
        border: inset;
        background-color: $white;
    }
    
	textarea { 
        margin-top:8px; 
        border: inset;
        border-radius: 5px;
        background-color: $white;
        width: 90%;
    }

    //Inline styles for form error messages on booking and testimonials forms
    .error { 
        display: block; 
        color: $brightred; 
        font-size: 0.9em; 
        height: 1.1em; 
        flex-basis: 100%; 
        width:100%; 
        margin-bottom: 0; 
        text-align: center;
    }
}

//text area styling
.rev2, .book2 {
    align-items: center;
}

//form button styling
//button being red background and white text
.revbutton, .bookbutton {
    display: inline-block;
    margin-top: 12px;
    background-color: $red;
    color: $offwhite;
    border-radius: 5px;
    padding: 3px 8px;
}

//form button hover colour chnage to a darker red colour
.revbutton:hover, .bookbutton:hover {
    background-color: $darkred;
}

//banner slides for the testimonials reviews below uses background images and graident overlay for text to be readible
//r1 to r3 are for corpate reviews.
//r4 to r6 are for wedding reviews.
//r7 to r9 are for event reviews.
.r1 {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/testimonials-corpo-1.png');
}

.r2 {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0, 0, 0, 0.5)), url('../images/testimonials-corpo-2.png');
}

.r3 {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0, 0, 0, 0.5)), url('../images/testimonials-corpo-3.png');
}

.r4 {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0, 0, 0, 0.5)), url('../images/testimonials-wedding-1.png');
}

.r5 {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0, 0, 0, 0.5)), url('../images/testimonials-wedding-2.png');
}

.r6 {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0, 0, 0, 0.5)), url('../images/testimonials-wedding-3.png');
}

.r7 {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0, 0, 0, 0.5)), url('../images/testimonials-event-1.png');
}

.r8 {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0, 0, 0, 0.5)), url('../images/testimonials-event-2.png');
}

.r9 {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0, 0, 0, 0.5)), url('../images/testimonials-event-3.png');
}			
		
                    