//hompage banner styling

//banner box
.sliding-image {
    display:flex;
    flex-direction: row;
    overflow:hidden;
    width: 100%;
    height:400px;
    position:relative;

    //banner image covers screen
    //contents is centered and set to flex container so that the layout can be flexible
	.banner {
        display:flex;
        flex-direction: column;
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        color: $white;
        height:400px;
        position: relative;
        text-align: center;
        justify-content: center;
        align-items: center;

        //justify content space between is used so that the postioing of the quotation makrs works
        //flex row wraps the author name under neath the paragrah
        .banner-row {
            display:flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
        }

        //I used margins and align self postioning for the quotation symbols
        .quote-start {
          margin: 0;
          align-self: start;
          padding-left: 3px;

          @media (min-width: $phone) {
            padding:0;
          }
        }

        //for the presentation of this banner description i had to use different font sizes for different screen sizes
	    p { 
            margin: 0;
            text-align: center;
            font-size: rem(18px);
            line-height: rem(27px);
            width: 85%;
            padding-top:10px;

            @media (min-width: $phone) {
                font-size: rem(24px);
                line-height: rem(36px);
                width: 90%;
                padding-bottom:10px;
            }
        }

        //for the presentation of this banner author i had to use different font sizes for different screen sizes
        //set as inline block withpadded border at top, the auto margins make sure it only is the length of the header itself
        h3 {
            padding:10px 0;
            display:inline-block;
            border-top: 2px solid $white;
            font-size: rem(15px);
            line-height: rem(23px);
            margin:0;
            text-transform: uppercase;

            @media (min-width: $phone) {
                font-size: rem(18px);
                line-height: rem(27px);
                padding: 20px 0;
            }
        }

        //same as first quatation set up style just different numbers so it is postioned at the end of the description
        .quote-end {
           justify-self: right;
           align-self: end;
           margin: 0;
           padding-right: 3px;

            @media (min-width: $phone) {
                padding:0;
            }
        }
    }
}

//background images for each banner slide with a gradient to make the text readible over it.
.slide1 {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../images/crab.png');
}

.slide2 {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0, 0, 0, 0.5)), url('../images/lemons.jpg');
}

.slide3 {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0, 0, 0, 0.5)), url('../images/onion.png');
}

.slide4 {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0, 0, 0, 0.5)), url('../images/calories.png');
}