.sliding-image {
    display:flex;
    flex-direction: row;
    overflow:hidden;
    width: 100%;
    height:400px;
    position:relative;

	.banner {
        display:flex;
        flex-direction: column;
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        color: $white;
        height:400px;
        position: relative;
        text-align: center;

        .quote-start {
            position: absolute;
            top:50px;
            left:125px;
        }

	    p { 
            margin-top: 65px;
            text-align: center;
            font-size: rem(22px);
            line-height: rem(33px);
            margin-bottom:30px;
        }

        h3 {
            padding:20px 0;
            display:inline-block;
            border-top: 2px solid $white;
            font-size: rem(16px);
            line-height: rem(24px);
            margin: 0 auto;
            text-transform: uppercase;
        }

        .quote-end {
            position: absolute;
            top:140px;
            right:125px;
        }
    }
}

.slide1 {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.5)), url('../images/crab.png');

}

.slide2 {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.5)), url('../images/lemons.jpg');
}

.slide3 {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.5)), url('../images/onion.png');
}

.slide4 {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.5)), url('../images/calories.png');
}