.sliding-image {
    display:flex;
    flex-direction: row;
    overflow:hidden;
    width: 100%;
    height:450px;
    position:relative;

	.banner {
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        color: $white;
        height:450px;
        position: relative;

        .quote-start {

        }

	    p { 
            text-align: center;
            font-size: rem(18px);
            line-height: rem(27px);

        }

        h3 {
            text-align: center;

        }

        .quote-end {

        }
    }
}

.slide1 {
    background-image: linear-gradient(180deg,transparent 10%, $black), url('../images/crab.png');

}

.slide2 {
    background-image: linear-gradient(180deg,transparent 10%, $black), url('../images/lemons.jpg');


}

.slide3 {
    background-image: linear-gradient(180deg,transparent 10%, $black), url('../images/onion.png');


}

.slide4 {
    background-image: linear-gradient(180deg,transparent 10%, $black), url('../images/calories.png');


}