//hompage banner styling

//banner box
.sliding-image {
    display:flex;
    flex-direction: row;
    overflow:hidden;
    width: 100%;
    height:400px;
    position:relative;

    //banner image covers screen
    //contents is centered and set to flex container so that the layout can be flexible
	.banner {
        display:flex;
        flex-direction: column;
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        color: $white;
        height:400px;
        position: relative;
        text-align: center;

        //justify content space between is used so that the postioing of the quotation makrs works
        //flex row wraps the author name under neath the paragrah
        .banner-row {
            display:flex;
            flex-flow: row wrap;
            justify-content: space-between;
        }

        //I used margins and align self postioning for the quotation symbols
        .quote-start {
          margin-top: 60px;
          justify-self: left;
          align-self:normal;

           @media (min-width: $phone) {
                margin-top: 110px;
           }
        }

        //for the presentation of this banner description i had to use different font sizes for different screen sizes
	    p { 
            margin-top: 25px;
            text-align: center;
            font-size: rem(18px);
            line-height: rem(27px);
            margin-bottom:15px;
            width: 85%;
            padding-top:60px;

            @media (min-width: $phone) {
                margin-top: 130px;
                margin-bottom: 30px;
                width: 90%;
                padding-top:0;
            }

            @media (min-width: $medium) {
                font-size: rem(20px);
                line-height: rem(30px);
            }

            @media (min-width: $large) {
                font-size: rem(24px);
                line-height: rem(36px);
            }
        }

        //for the presentation of this banner author i had to use different font sizes for different screen sizes
        //set as inline block withpadded border at top, the auto margins make sure it only is the length of the header itself
        h3 {
            padding:10px 0;
            display:inline-block;
            border-top: 2px solid $white;
            font-size: rem(15px);
            line-height: rem(22px);
            margin: 0 auto;
            text-transform: uppercase;

            @media (min-width: $phone) {
                padding: 20px 0;
            }

            @media (min-width: $medium) {
                font-size: rem(16px);
                line-height: rem(24px);
            }

            @media (min-width: $large) {
                font-size: rem(18px);
                line-height: rem(27px);
            }
        }

        //same as first quatation set up style just different numbers so it is postioned at the end of the description
        .quote-end {
           justify-self: right;
           align-self: end;
           margin-bottom: 10px;

           @media (min-width: $phone) {
                margin-bottom: 25px;
           }
        }
    }
}

//background images for each banner slide with a gradient to make the text readible over it.
.slide1 {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../images/crab.png');
}

.slide2 {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0, 0, 0, 0.5)), url('../images/lemons.jpg');
}

.slide3 {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0, 0, 0, 0.5)), url('../images/onion.png');
}

.slide4 {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0, 0, 0, 0.5)), url('../images/calories.png');
}