
//booking bar styling
.bookingbar {
    display: flex;
    flex-direction: row;
    color: $white;
    background-color: $dark;

    p {

    }

    .bar-button {
        background-color: $white;
        color: $brown;
    }
}

//footer styling
footer {
    background-color: $red;
    color: $white;
    		.footer-row {
				.footer-box {
					h3 {

                    }
					
					ul {

						li{ 
                            a { 
                                span {

                                }
                            }
                        }
                    }
                }
            }
            
		 	.footer-bottom {
            	span {

                }
            }
        }