
//booking bar styling
.bookingbar {
    background-color: $dark;
    .booking-row {
        display: flex;
        flex-direction: row;
        align-items: center;
        color: $white;
       

        p {
            margin-right: 25px;
            width: 80%;

        }

        .bar-button {
            display:inline-block;
            margin:15px 0;
            padding:10px;
            background-color: $white;
            color: $brown;
        }
    }
}

//footer styling
footer {
    display:flex;
    background-color: $red;
    color: $white;
    		.footer-row {
				.footer-box {
					h3 {

                    }
					
					ul {

						li{ 
                            a { 
                                span {

                                }
                            }
                        }
                    }
                }
            }
            
		 	.footer-bottom {
            	span {

                }
            }
        }