
.bookingbar {

    p {

    }

    .bar-button {

    }
}



footer {
			.footer-row {
				.footer-box {
					h3 {

                    }
					
					ul {
						li{ a { span {}}}
                    }
                }
            }
		 	.footer-bottom {
            	span {}
            }
        }