//booking bar of homepage and footer styling

//booking bar styling
//booking bar will be set to a column on smaller screen sizes so button is easer to acess
//the lyaout is in centered on phone but in a row on a computer
.bookingbar {
    background-color: $dark;
    .booking-row {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: $white;

        //paragraph adjusted styling for phone and tablet
        p {
            padding:55px 0 15px;
            margin: 0 10px;
            width: 100%;
            font-size: rem(24px);
            line-height: rem(36px);
            text-align: center;
        }

        //button styling is also adjusted same as paragraph for different screen sizes
        //button is white since background is dark
        .bar-button {
            display:inline-block;
            margin:10px 0 55px;
            padding:10px 30px;
            background-color: $white;
            color: $brown;
            font-size: rem(16px);
            line-height:1;
            font-weight: $font-med;
        }

        //button hover colour chnage to a dark red
        .bar-button:hover {
            background-color: $red;
            color: $white;
        }
    }
}

//footer styling
footer {
    display:flex;
    background-color: $red;
    color: $white;
    padding: 27px 0 0;
    position: relative;

    //footer is set to  be a wrap based row layout on larger screen sizes and a column on smaller ones
    	.footer-row {
            display:flex;
            flex-wrap:wrap;
            margin: 0 -15px 0;

            @media (min-width: $small) {
                margin: 50px -15px;
            }

			.footer-box {
                flex: 100%;
                padding: 0 15px;
                margin-bottom: 30px;
                text-align: center;
        
                //flex widths to adjust the size of the footer link men colomns by screen sizes
                @media (min-width: $small) {
                    flex: 33%;
                    text-align: left;
                }

                @media (min-width: $medium) {
                    flex: 25%;
                }

                @media (min-width: $large) {
                    flex: 25%;
                    margin-bottom: 40px;
                }

                //for eage list the footer has a header with an adjusting border length that is padded down which uses the same percentage styling as the header 
                //and is adjusted with media querys for different screen sizes/
				h2 {
                    display: inline-block;
                    border-bottom: 2px solid $white;
                    text-transform: uppercase;
                    padding-bottom: 20px;
                    margin-bottom: 26px;
                    margin-top: 0;
                    margin-left:auto;
                    margin-right: auto;
                }

				//set in list format for the content of the footer
				ul {
                    display:block;
                    padding:0;
                    margin:0;

                    li {
                        font-size: rem(16px);
                        line-height: rem(24px); 
                        margin-bottom: 6px;
                    }

                    li a:hover {
                        text-decoration:underline;
                    }
                    
                    li a span {
                        margin-right:10px;
                    }
                }
            }
        }
}

.copyright {
    background-color: $dark;
    color: $white;

     //this container is used to house the copy right details which is centerized and uses wbr html to adjust the layout for screen sizes
	.footer-bottom {
        padding:20px 0;
        text-align: center;
        font-size: 14px;

        span {
            display:block;
            margin:auto;
            width: 75%;

            @media (min-width: $small) {
                width: 100%;
            }
            
        }
    }
}


  



  

