// Header Styling

.header {
  position: relative;

     div {
      position: absolute;
      left: 0;
      top: 0;

      h1  {

      }
    }
    
    div {
      display: flex;
      flex-direction: column;

      div { 
        display: flex;
        flex-direction: row;

        a {

        }

      }

      div {

        h1 {

        }

        p {

        }

        a {

        }
      }
    }  
  }
