// Header Styling

.header {
  position: relative;
  background-image: url("#{$img-path}/banner.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 490px;

    .flex-header {
      display: flex;
      flex-direction: row;
      justify-content: right;
      position: relative;
      width: 100%;

     .logobox {
      display:flex;
      flex-direction: column;
      position: absolute;
      left: 25px;
      top: 10px;
      color: $black;

        h3  {
          margin:0;
          font-size: rem(48px);
          line-height: rem(53px);

        }

        h4  {
          margin:0;
          font-size: rem(48px);
          line-height: rem(53px);
          font-weight: $font-light;
        }
      }
    
    .header-details {
      display: flex;
      flex-direction: column;

      .contact-info { 
        display: flex;
        flex-direction: row;
        color: $white;
        font-size: rem(13px);

        a { 
          margin-right:25px;
          span { 
            margin-right: 8px;
          }
        }

      }

      .company-info {
        color: $white;

        h1 {
          text-align: right;
          font-size: rem(48px);
          margin-bottom: 20px;

        }

        p {
          text-align: right;
          margin-bottom: 20px;

        }

        .booking-button {
          background-color: $red;
          color: $white;

        }
      }
    }  
  }
}
