// Header Styling

.header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  position: relative;

     .logobox {
      position: absolute;
      left: 0;
      top: 0;

        h3  {
          a {
            
          }
        }
      }
    
    .header-details {
      display: flex;
      flex-direction: column;

      .contact-info { 
        display: flex;
        flex-direction: row;

        a { span {

        }

        }

      }

      .company-info {

        h1 {

        }

        p {

        }

        .booking-button {

        }
      }
    }  
  }
