// Header Styling
.header {
  position: relative;
  background-image: url("#{$img-path}/banner.png");
  background-color: rgba(255,255,255, .4);
  background-blend-mode: lighten;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 490px;

    .flex-header {  
      display: flex;
      flex-direction: column;
      justify-content: left;
      position: relative;
      width: 100%;

      @media (min-width: $small) {
        flex-direction: row;
        justify-content: right;
      }

     .logobox {
      display:flex;
      flex-direction: column;
      position: absolute;
      right: 25px;
      top: 10px;
      color: $black;

      @media (min-width: $small) {
        position: absolute;
        left: 25px;
        top: 10px;
        
      }

        h3  {
          margin:0;
          font-size: rem(48px);
          line-height: rem(53px);
          color: $red;
        }

        h4  {
          margin:0;
          font-size: rem(48px);
          line-height: rem(53px);
          font-weight: $font-light;
        }
      }
    
    .header-details {
      display: flex;
      flex-direction: column;
    
      .contact-info { 
        display: flex;
        flex-direction: row;
        justify-content: left;
        color: $black;
        font-size: rem(16px);
        
        margin-top:10px;

        @media (min-width: $small) {
          justify-content: right;
          margin-top:0;
        }

        a { 
          margin-right:25px;

          span { 
            margin-right: 10px;
          }
        }
      }

      .company-info {
        color: $black;
        text-align: left;

        @media (min-width: $small) {
          text-align: right;
        }

        h1 {
          text-align: left;
          font-size: rem(48px);
          line-height: rem(58px);
          font-weight: $font-semibold;
          padding-bottom: 20px;
          margin: 30px 0;
          border-bottom: 3px solid;
          border-image: linear-gradient(to right, $black 50%, transparent 50%) 100% 1;

          @media (min-width: $small) {
            text-align: right;
            border-image: linear-gradient(to left, $black 50%, transparent 50%) 100% 1;
            margin: 30px 0;
          }
        }

        p {
          font-size: rem(18px);
          line-height: rem(26px);
          color: $black;
          text-align: left;
          margin-bottom: 20px;
          font-weight: $font-med;
          text-shadow: $white;

          @media (min-width: $small) {
            text-align: right;
          }
        }

        .booking-button {
          display: inline-block;
          background-color: $red;
          color: $white;
        }

        .booking-button:hover {
          background-color: $darkbrown;
        }
      }
    }  
  }
}
