// Header Styling

.header {
  position: relative;
  background-image: url("#{$img-path}/banner.png");
  background-color: rgba(255,255,255, .4);
  background-blend-mode: lighten;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 490px;


    .flex-header {  
      display: flex;
      flex-direction: row;
      justify-content: right;
      position: relative;
      width: 100%;

     .logobox {
      display:flex;
      flex-direction: column;
      position: absolute;
      left: 25px;
      top: 10px;
      color: $black;

        h3  {
          margin:0;
          font-size: rem(48px);
          line-height: rem(53px);
          color: $red;

        }

        h4  {
          margin:0;
          font-size: rem(48px);
          line-height: rem(53px);
          font-weight: $font-light;
        }
      }
    
    .header-details {
      display: flex;
      flex-direction: column;
      
      

      .contact-info { 
        display: flex;
        flex-direction: row;
        justify-content: right;
        color: $black;
        font-size: rem(16px);

        a { 
           color: $black;
          margin-right:25px;
          span { 
            color: $black;
            margin-right: 8px;
          }
        }

      }

      .company-info {
        color: $black;
        text-align: right;

        h1 {
          text-align: right;
          font-size: rem(48px);
          line-height: rem(58px);
          font-weight: $font-semibold;
          padding-bottom: 20px;
          margin-bottom: 30px;
          border-bottom: 3px solid;
          border-image: linear-gradient(to left, $black 50%, transparent 50%) 100% 1;

        }

        p {
          font-size: rem(18px);
          line-height: rem(26px);
          color: $black;
          text-align: right;
          margin-bottom: 20px;
          font-weight: $font-med;
          text-shadow: $white;
          

        }

        .booking-button {
          display: inline-block;
          background-color: $red;
          color: $white;
        }
        .booking-button:hover {
          background-color: $darkbrown;
        }
      }
    }  
  }
}
