// Header Styling
header { 
background-color: $white;
color: $white;

.header-inner{
padding: 20px 0;

.header-row { 
display:flex;
margin: 0;
align-items: center;
width: 100%;

//adjusts margin for bigger screens
@media (min-width: $small) {
    margin: 0 -15px;
  }
      //compnay logo
      .header-logo {
          max-width: 100%;
          margin:0;
          padding:0;
          width:100%;
          
          //adjusts size of logo to different screen sizes
          @media (min-width: $small) {
            Width: 50%;
            padding: 0 15px;
          }

          @media (min-width: $medium) {
            width: 41.67%;
          }

           @media (min-width: $large) {
            width: 33.33%;
          }

          a img {
            max-width: 100%;
          }
        }

        // in mobile there is a phone button which is normalyy hidden
        .hidden-mobile{
          padding:0;
          max-width:100%;
          font-size: rem(32px);
          margin-left: 15px;

          // not visible on bigger screens, replaced by full size buttons
          @media (min-width: $small) {
          display:none;
          }

          a {
            color: $darkgrey;
          }

          a:hover, a:focus {
            color: $link;
          }
        }
          //buttons are placed in a seperate flex box to make the layout easier
          .contact{
            display:flex;
            justify-content: flex-start;
            flex-direction: row;
            max-width: 100%;
            align-items: center;
            padding:0;
            margin:0;
           
            //shifts buttons to the right side of screen
            @media (min-width: $medium) {
              justify-content: flex-end;
              padding:0 15px;
              width: 58%;
            }

             @media (min-width: $large) {
              width: 67%;            
            }

            //header button styling
            .header-btn{
              font-size: rem(18px);
              font-weight: $font-reg;
              line-height: rem(46px);
              height: 56px;
              padding: 5px 15px;
              margin-left: 20px;
              border-radius: 3px; 
          
              text-transform: uppercase;
              text-align: center;

              span{
                margin-right: 5px;
              }
            }

            //The buttons only appear on 992px or larger screen sizes
            .button-support {
              @include buttoncolor($blue, $white);
              display: none;       

              @media (min-width: $medium){
                display:block;
              }
            }

            .button-support:hover {
              @include buttoncolor($hover-blue, $white);
            }
            
              .button-contact {
                @include buttoncolor($grey, $white);
                display: none;    
              
              @media (min-width: $medium){
                display: block;
              }
            }

             .button-contact:hover {
                @include buttoncolor($hover-grey, $white);
             }

             //in smaller screen sizes this search bar is replaced with a different one
            .search {
              display:none;
              height: 56px;
              margin-left:20px;

              @media (min-width: $small) {
                  display:flex
                }

              label {
                display: none;
              }

              //search box styling
              .form-search {
                display: inline-flex;
                color: $medgrey;
                font-size: rem(14px);
                line-height: rem(24px);
                padding: 5px 15px;
                width:174px;
                cursor: text;
                background-color: $white;
                border: 1px solid $offwhite;

                @media (min-width: $medium) {
                  width: 240px;
                }

                //between 992px and 1260px the search button appears on its own to save space
                @media (min-width: $medium) and (max-width: $large)
                {
                  display: none;
                }

              }

              //This focus styling to the search box adds a shadow and border to the box when focused or typing inside it
              .form-search:focus {
                border-color: $focus-search;
                outline: 0;
                box-shadow: inset 0 1px 1px $shadow-black,0 0 8px $shadow-blue;
              }

              .form-search::placeholder {
                color: $grey;
              }

              .search-submit {
                padding: 7px 20px 3px;
                height: 56px;
                border-radius: 0 3px 3px 0;
                border: none;
                @include buttoncolor($lightgrey, $white);
                text-align: center;
                
                //since in medium size screens the search button will be on its own i adapted the border radius all the way around
                @media (min-width: $medium) and (max-width: $large)
                {
                  border-radius: 3px;
                }
                
                  span {
                    font-size: rem(23px);
                  }
                }

                .search-submit:hover {
                  background-color: $hover-search;
                }
            }

            //Styled the hamburger like any other button using a menu icon rather than styling invidual lines
            .button-hamburger {
              font-size: rem(40px);
              line-height: rem(46px);
              font-weight: $font-light;
              height:56px;
              width: 63px;
              padding: 5px;
              border-radius: 3px;

              @include buttoncolor($darkgrey, $white);
              text-align:center;
            }

             .button-hamburger:hover {
              @include buttoncolor($hover-hamburger, $white);
            }
          }
        }
        
        //Search box styling for mobile screens only
        .mobile-contact {
            margin-top: 11px;

            @media (min-width: $small) {
              display: none;
            }
           
            //border is applied to enitre container so that both the submit button and the search box fit within it
            .mobile-search {
              display:flex;
              height: 47px;
              background-color: $border-black;
              border: 2px solid $border-black;
              border-radius: 2px;

              .hidden-label {
                display: none;
              }

              .mobile-form-search {
                display:inline-block;
                font-size: rem(14px);
                line-height: rem(24px);
                color: $medgrey;
                height:47px;
                padding: 5px 40px 5px 15px;
                cursor: text;
                width: 100%;

                border:none;
                background:none;
              }

              .mobile-form-search::placeholder {
                color: $grey;
              }
              
              .mobile-submit {
                display:flex;
                align-items:center;
                justify-content: center;
                padding: 0 10px;
                height: 47px;
                font-size: rem(20px);
                line-height: rem(47px);
                color: $darkgrey;

                //This allows the icon to appear inside the box
                background: none;
                border: none;
                }
            } 

            //Same focus styling as other search box. Adds shadow and border to the search box when focused over or typing inside it
            .mobile-form-search:focus {
              border-color: $focus-search;
              outline: 0;
              box-shadow: inset 0 1px 1px $shadow-black,0 0 8px $shadow-blue;
            }
          }  
  } 
}
            
        
    

    

  

