// Header Styling

.header {
  
  position: relative;
  background-image: url("#{$img-path}/banner.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;

    .flex-header {
      display: flex;
      flex-direction: row;
      justify-content: right;
      position: relative;
      width: 100%;


     .logobox {
      display:flex;
      flex-direction: column;
      position: absolute;
      left: 25px;
      top: 10px;
      color: $white;
      

        h3  {
          margin:0;
          font-size: rem(48px);
          line-height: rem(53px);
          

          a {
            
          }
        }

        h4  {
          margin:0;
          font-size: rem(48px);
          line-height: rem(53px);
          color: black;
          font-weight: $font-light;
        }
      }
    
    .header-details {
      display: flex;
      flex-direction: column;

      .contact-info { 
        display: flex;
        flex-direction: row;

        a { span {

        }

        }

      }

      .company-info {

        h1 {

        }

        p {

        }

        .booking-button {

        }
      }
    }  
  }
}
