//navigation bar styling
.nav {
    background-color: $red;
    color: $white;
    display:flex;
    flex-direction: row;
    justify-content: left;

    @media (min-width: $small) {
        justify-content: right;
    }

    .sitecontainer {
        @media (max-width: $small) {
        margin:0;
    }

    }

    .navbar {
        display: flex;
        flex-direction: row;
        justify-content: left;
        text-align: left;
        row-gap: 10px;
        margin:0;
        padding:0;

        @media (min-width: $small) {
            justify-content: right;
            text-align: right;
        }

        li {
            padding:10px;
            font-size: rem(16px);
            line-height: rem(19px);

            a {
                text-transform: uppercase;
            }
        }
    }
}