//navigation bar styling
.nav {
    background-color: $red;
    color: $white;
    display:flex;
    flex-direction: row;
    justify-content: right;

    .navbar {
        display: flex;
        flex-direction: row;
        justify-content: right;
        text-align: right;
        row-gap: 10px;
        margin:0;
        li {
            padding:10px;
            font-size: rem(16px);
            line-height: rem(19px);
            a {
                text-transform: uppercase;
            }
        }
    }
}