//navigation bar styling
.nav {
    background-color: $red;
    color: $white;
    display:flex;
    flex-direction: row;
    justify-content: left;

    @media (min-width: $small) {
        justify-content: right;
    }

    .sitecontainer {
        @media (max-width: $small) {
            margin:0;
        }
    }

    .navbar {
        display: flex;
        flex-direction: row;
        justify-content: left;
        text-align: center;
        //row-gap: 10px;
        margin:0;
        padding:0;

        @media (min-width: $tablet) {
            text-align: left;
        }

        @media (min-width: $small) {
            justify-content: right;
            text-align: right;
        }

        li {
            padding: 10px 5px;
            font-size: rem(12px);
            line-height: rem(15px);

            @media (min-width: $phone) {
                padding:10px;
                font-size: rem(16px);
                line-height: rem(19px);
            }

            a {
                text-transform: uppercase;
            }
        }
    }
}