//navigation bar styling

//navigation bar is on the left for smaller screen sizes and on the right for larger ones to go with the flow of the header set up
.nav {
    background-color: $red;
    color: $white;
    display:flex;
    flex-direction: row;
    justify-content: left;

    @media (min-width: $small) {
        justify-content: right;
    }

    .sitecontainer {
        @media (max-width: $small) {
            margin:0;
        }
    }

    //done as a list with one set colour set up nothing too fancy
    .navbar {
        display: flex;
        flex-direction: row;
        justify-content: left;
        text-align: center;
        margin:0;
        padding:0;

        @media (min-width: $tablet) {
            text-align: left;
        }

        @media (min-width: $small) {
            justify-content: right;
            text-align: right;
        }

        //due to some of the titles being longer than others i had to adjust the font sizes on different screen sizes to keep the presntation the same
        li {
            padding: 10px 5px;
            font-size: rem(12px);
            line-height: rem(15px);

            @media (min-width: $phone) {
                padding:10px;
                font-size: rem(16px);
                line-height: rem(19px);
            }

            a {
                text-transform: uppercase;
            }
        }
    }
}