//Side Navigation Styling
.sidenav {
    display:none;

    .sidenavbox {

        .sidenav-list {

            li {

            }

            li a {

            }

            li a:hover {

            }
        }
    }
}