//Side Navigation Styling
.sidenav {
    display:none;
    background-color: $red;
    color:$white;
    position: fixed;
	top: 0;
	right: 0;
	z-index: 9;
	height: 100%;
    width:275px;
    overflow: scroll;

	@media (min-width: $medium) {
    	width: 350px;
	}

    .sidenavbox {
        margin:0;
        padding:20px 0;

        .sidenav-list {
            display:flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            li {
                border: 1px solid $dark;
                padding:10px;
                text-align: center;
                border-radius: 3px;
            }

            li a {
                font-size: rem(16px);
                line-height: rem(19px);
                text-transform: uppercase;
                text-align: center;
            }

            li a:hover {
                text-decoration: none;
                background-color: $darkred;
            }
        }
    }
}