//Side Navigation Styling
.sidenav {
    display:block;
    background-color: $dark;
    color:$white;
    position: fixed;
	top: 0;
	right: 0;
	z-index: 9;
	height: 100%;
    width:175px;
    overflow: scroll;

    transition: all .5s ease;

    .sidenavbox {
        margin:0;
        padding:20px 0 10px;

        .sidenav-list {
            display:flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding:0;
            margin:0;

            li {
                border: 1px solid $dark;
                padding:10px;
                text-align: center;
                border-radius: 3px;
                min-width:143px;
                margin-bottom:15px;
                background-color: $red;
            }

            li a {
                font-size: rem(16px);
                line-height: rem(19px);
                text-transform: uppercase;
                text-align: center;
            }

            li:hover {
                text-decoration: none;
                background-color: $darkred;
            }
        }
    }
}