// Variables

// Colours
$white: #fff;
$offwhite: #f9f9f9;
$grey: #888;
$darkgrey: #222;
$black: #000;
$dark: #3C3C3C;
$red: #AF473C;
$darkred: #84382f;
$brightred: #b00020; 
$brown: #9D726B;
$darkbrown: #7B4E4B;
$orange: orange;

//Break Points
$phone: 480px;
$tablet: 642px;
$small: 768px;
$medium: 992px;
$large: 1260px;

//Fonts
$zanadolo: 'Zalando Sans';
$icomoon: 'icomoon';
$meow: 'Meow Script';

//Assest Paths
$img-path: '../images';
$font-path: '../fonts';

//font
$base-font-size: 16px;
$base-line-height: 24px;

//font weights
$font-thin: 100;
$font-extralight: 200;
$font-light: 300;
$font-reg: 400;
$font-med: 500;
$font-semibold: 600;
$font-bold: 700;
$font-extrabold: 800;
$font-black: 900;

//font styles
$font-italic: italic;