// Variables

// Colours
$white: #fff;
$grey: #888;
$black: #000;
$dark: #323544;
$verydarkgrey: #212330;
$darkgrey: #333645;
$offwhite: #ccc;
$lightgrey: #999aa2;
$medgrey: #555;
$offblack: #212330;
$link: #121419;
$verylightgrey:  #a3a8ac;
$gold: #ffa500;

//Colours for buttons
$blue: #4183d7;
$sky: #67809f;
$red: #d64541;
$violet: #926fb1;
$bloodorange: #ce4125;
$lime: #2ecc71;
$rose: #f62459;
$obsidian: #272936;
$cobalt: #4387f6;
$emerald: #00b67b;
$orange:#f7b322;

//Sub Nav colors
$subnav-sky:#526781;
$subnav-blue: #286abd;
$subnav-red: #bc2c28;;
$subnav-violet: #79539a;
$subnav-bloodorange: #a3331d;
$subnav-lime: #25a25a;
$subnav-rose: #de093f;

//Hover & Focus colours
$hover-green:#26ab5f;
$hover-orange:#e8a008;
$hover-purple:#7e57a0;
$hover-blue: #2a6ec6;
$hover-grey:#84858f;

$hover-hamburger: #22242e;
$hover-search: #7e808a;
$focus-search: #5bc0de;
$hover-about: #121318;
$hover-google: #166af4;
$hover-trustpilot: #009b69;
$hover-facebook: #3b5998;
$hover-linkedin: #0077b5;
$hover-twitter:  #00aced;
$hover-instagram: #d93175;

//shadow variables for focus styling of the search boxs
$shadow-black: rgba(0,0,0,.075);
$shadow-blue: rgba(91,192,222,.6);

//border colours
$border-black:rgba(0,0,0,.1);

//Break Points
$small: 768px;
$medium: 992px;
$large: 1260px;

//Fonts
$Poppins: 'Poppins';
$icomoon: 'icomoon';

//Assest Paths
$img-path: '../images';
$font-path: '../fonts';

//font
$base-font-size: 16px;
$base-line-height: 24px;

//font weights
$font-thin: 100;
$font-extralight: 200;
$font-light: 300;
$font-reg: 400;
$font-med: 500;
$font-semibold: 600;
$font-bold: 700;
$font-extrabold: 800;
$font-black: 900;

//font styles
$font-italic: italic;