//Fonts and Icon set up
//I use fontface mixins for the Zalando Sans fonts

//Zalando Sans fonts
@include font-face('Zalando Sans',ZalandoSans-Black,900);
@include font-face('Zalando Sans',ZalandoSans-Bold,700);
@include font-face('Zalando Sans',ZalandoSans-ExtraBold, 800);
@include font-face('Zalando Sans',ZalandoSans-ExtraLight,200);
@include font-face('Zalando Sans',ZalandoSans-Light,300);
@include font-face('Zalando Sans',ZalandoSans-Medium, 500);
@include font-face('Zalando Sans',ZalandoSans-Regular,400);
@include font-face('Zalando Sans',ZalandoSans-SemiBold, 600);

//italic Zalando Sans fonts
@include font-face-italic('Zalando Sans',ZalandoSans-BlackItalic,900, italic);
@include font-face-italic('Zalando Sans',ZalandoSans-BoldItalic,700, italic );
@include font-face-italic('Zalando Sans',ZalandoSans-ExtraBoldItalic, 800, italic);
@include font-face-italic('Zalando Sans',ZalandoSans-ExtraLightItalic, 200, italic);
@include font-face-italic('Zalando Sans',ZalandoSans-LightItalic ,300, italic);
@include font-face-italic('Zalando Sans',ZalandoSans-MediumItalic , 500, italic);
@include font-face-italic('Zalando Sans',ZalandoSans-Italic,400, italic);
@include font-face-italic('Zalando Sans',ZalandoSans-SemiBoldItalic, 600, italic);

//icomoon font-face function
@font-face {
  font-family: 'icomoon';
  src:  url('#{$font-path}/icomoon.eot') format('embedded-opentype'),
    url('#{$font-path}/icomoon.ttf') format('truetype'),
    url('#{$font-path}/icomoon.woff') format('woff'),
    url('#{$font-path}/icomoon.svg') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

//icomoon font styling
[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon' !important;
  font-weight: $font-reg;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}

//icon fonts classes and codes

.icon-envelope::before {
  content: "\e900";
}
.icon-phone::before {
  content: "\e942";
}
.icon-quotes-left::before {
  content: "\e977";
}
.icon-quotes-right::before {
  content: "\e978";
}
.icon-facebook::before {
  content: "\ea91";
}
.icon-twitter::before {
  content: "\ea96";
}
.icon-linkedin::before {
  content: "\eac9";
}