// Main Base Styles

// body and universal styles
body {
    margin: 0;
    font-family: $zanadolo,sans-serif;
    letter-spacing: 0.4px;
    font-size: $base-font-size;
    line-height: ($base-line-height/$base-font-size); //line height calcuation for the base font outputs 1.5
    font-weight: $font-reg;
}

* {
    box-sizing: border-box;
}

.main {
    
}


//Universal Containers
.sitecontainer {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;

    @media (min-width: $small) {
        width: 750px;
    }

    @media (min-width: $medium) {
        width: 970px;
    }

    @media (min-width: $large) {
        width: 1200px;
    }
}

// standard html Elements
a {
    cursor: pointer;
    text-decoration:none;
}

a:focus { 
    outline: thin dotted;
}

//prevents useragent styling from overriding colour of links
a:link, a:any-link, a:active, a:focus, a:visited {
    color: inherit;
}

button {
    cursor: pointer;
}

p {
    margin: 15px 0;
    font-size: rem(16px);
    line-height: rem(24px);
    font-weight: $font-reg;   
}

p a:hover {
    text-decoration: underline;
}

h1, h2, h3, h4 {
    line-height: 1.2;
    margin-top:0;
}

h1 {
    font-size: rem(36px);
    font-weight: $font-med;
}

h2 {
    font-size: rem(26px);
    font-weight: $font-light;
}

h3 {
    font-size: rem(18px);
    font-weight: $font-reg;
}

h4 {
    font-size: rem(16px);
    font-weight: $font-reg;
}

h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover {
    text-decoration: underline;
}

.h1 {
    display: inline-block;
    margin-top: 20px;
    color: $darkbrown;
    padding-bottom: 25px;
    margin-bottom: 35px;
    border-bottom: 2px solid $darkbrown;
    text-transform: uppercase;
}

.h2 {
    display:inline-block;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    color: $darkbrown;
    text-transform: uppercase;
}

ul {
    list-style: none;
    text-decoration: none;
}

strong {
    font-weight: $font-semibold
}

.button {
    padding: 15px;
    border-radius: 0px;
}

.button:hover {
    text-decoration: none;
}

.logo { 
    font-family: $meow,sans-serif;
    font-weight: bold;
}

.logo:hover {
    text-decoration: none;
}