//Main Base Styles

//body and universal styles
body {
    margin: 0;
    font-family: $zanadolo,sans-serif;
    letter-spacing: 0.4px;
    font-size: $base-font-size;
    line-height: ($base-line-height/$base-font-size); //line height calcuation for the base font outputs 1.5
    font-weight: $font-reg;
    background-color: $white;
}

* {
    box-sizing: border-box;
}

//Universal Container
.sitecontainer {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;

    @media (min-width: $small) {
        width: 750px;
    }

    @media (min-width: $medium) {
        width: 970px;
    }

    @media (min-width: $large) {
        width: 1200px;
    }
}

.website {
    overflow: hidden;
    position: relative;
    z-index: 10;
    transition: all .5s;
    left: 0;
}

.menu-is-active {
    left: -275px;

    @media (min-width: $medium) {
        left: -350px;
    }
}

// standard html Elements
a {
    cursor: pointer;
    text-decoration:none;
}

a:focus { 
    outline: thin dotted;
}

//prevents useragent styling from overriding colour of links.
a:link, a:any-link, a:active, a:focus, a:visited {
    color: inherit;
}

button {
    cursor: pointer;
}

p {
    margin: 15px 0;
    font-size: rem(16px);
    line-height: rem(24px);
    font-weight: $font-reg;   
}

p a:hover {
    text-decoration: underline;
}

//headers
h1, h2, h3, h4 {
    line-height: 1.2;
    margin-top:0;
}

h1 {
    font-size: rem(36px);
    font-weight: $font-med;
}

h2 {
    font-size: rem(26px);
    font-weight: $font-light;
}

h3 {
    font-size: rem(18px);
    font-weight: $font-reg;
}

h4 {
    font-size: rem(16px);
    font-weight: $font-reg;
}

h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover {
    text-decoration: underline;
}

//used h1 and h2 classes for headers that are on internal pages so the styling is universal.
//they all have it set for a border that is pagged down and margins afterwards.
//the font size is smaller on phones due to some of the titles being long.
.h1 {
    display: inline-block;
    font-size: rem(30px);
    margin-top: 20px;
    color: $darkbrown;
    padding-bottom: 25px;
    margin-bottom: 35px;
    border-bottom: 2px solid $darkbrown;
    text-transform: uppercase;

    @media (min-width: $phone) {
        font-size: rem(36px);
    }
}

.h2 {
    display:inline-block;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    color: $darkbrown;
    text-transform: uppercase;
}

//Other elements styling
ul {
    list-style: none;
    text-decoration: none;
}

strong {
    font-weight: $font-semibold
}

//button styling
.button {
    padding: 15px;
    border-radius: 0px;
}

.button:hover {
    text-decoration: none;
}

//header logo stlying since it is done with fancy font style rather than an img.
.logo { 
    font-family: $meow,sans-serif;
    font-weight: bold;
}

.logo:hover {
    text-decoration: none;
}

//base invalid styling for forms
.invalid { 
    outline: 2px solid rgba(176,0,32,0.15); 
}

.hidden {
    display: none;
}